<div class="form container">
  <div class="row">
    <div class="form-group col-md-6">
      <div class="">
        <h5>Fecha de Nac.</h5>
      </div>
      <div class="input-group datepick">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="fecha"
               [minDate]="minDate"
               [maxDate]="maxDate"
               [startDate]="maxDate"
               [placement]="'bottom'"
               ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="">
        <h5>Cédula:</h5>
      </div>
      <input name="Cedula" class="form-control" placeholder="0452813749" type="text" [(ngModel)]="inscripcion.cedula" (change)="validarCedula()"  maxlength="10" required=""  >
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <div class="">
        <h5>Nombres:</h5>
      </div>
      <input name="Nombre" class="form-control" placeholder="Juan José" type="text" [(ngModel)]="inscripcion.nombres" required="">
    </div>

    <div class="form-group col-md-6">
      <div class="">
        <h5>Apellidos:</h5>
      </div>
      <input name="Apellido" class="form-control" placeholder="Pérez" type="text" [(ngModel)]="inscripcion.apellidos" required="">
    </div>
    <div class="form-group col-md-6">
      <div class="">
        <h5>Nacionalidad:</h5>
      </div>
      <input name="Nacionalidad"  class="form-control" placeholder="Ecuatoriana" type="text" [(ngModel)]="inscripcion.nacionalidad"  required=""  >
    </div>

    <div class="form-group col-md-6">
      <div class="">
        <h5>Lugar de Nac:</h5>
      </div>
      <input name="LugarNac" class="form-control" placeholder="Ecuador-Carchi-Tulcán" type="text" [(ngModel)]="inscripcion.lugarNaciemiento"  required=""  >
    </div>

    <div class="form-group col-md-6">
      <div class="">
        <h5>Email:</h5>
      </div>
      <input class="form-control" name="Email" placeholder="sindicatoespejo@hotmail.com" type="email" [(ngModel)]="inscripcion.correo" required="">
    </div>
    <div class="form-group col-md-6">
      <div class="">
        <h5>Telefono:</h5>
      </div>
      <input name="Telf" class="form-control" placeholder="0989898989" type="text" [(ngModel)]="inscripcion.telefono" required="">
    </div>
    <div class="form-group col-md-6">
      <div class="">
        <h5>Contraseña:</h5>
      </div>
      <input name="Pass1" class="form-control" type="password" [(ngModel)]="inscripcion.pass1" required="">
    </div>
    <div class="form-group col-md-6">
      <div class="">
        <h5>Confirmar Contraseña:</h5>
      </div>
      <input name="Pass2" class="form-control" type="password" [(ngModel)]="inscripcion.pass2" required="">
    </div>

    <div class="form-group col-md-6">
      <div class="">
        <h5>Estado civil:</h5>
      </div>
      <select name="EstadoC" class="form-control" id="" [(ngModel)]="inscripcion.estado_civil">
        <option value="S">Soltero</option>
        <option value="C">Casado</option>
        <option value="V">Viudo</option>
        <option value="D">Divorciado</option>
        <option value="U">Unión Libre</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <div class="">
        <h5>Instrucción:</h5>
      </div>
      <select class="form-control" name="EstadoC" [(ngModel)]="inscripcion.instruccion">
        <option value="P">Primaria</option>
        <option value="S">Secundaria</option>
        <option value="B">Bachiller</option>
        <option value="T">Tercer Nivel</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <div class="">
        <h5>Dirección:</h5>
      </div>
      <input name="Direccion" class="form-control" placeholder="Tulcán, Barrio Central" type="text" [(ngModel)]="inscripcion.direccion" required="">
    </div>
    <div class="form-group col-md-6">
      <div class="">
        <h5>Calle Princ.:</h5>
      </div>
      <input name="Calle2" class="form-control" placeholder="Bolivar" type="text" [(ngModel)]="inscripcion.calle1" required="">
    </div>
    <div class="form-group col-md-6">
      <div class="">
        <h5>Calle Sec.:</h5>
      </div>
      <input name="Calle1" class="form-control" placeholder="Rocafuerte" type="text" [(ngModel)]="inscripcion.calle2" required="">
    </div>
    <div class="form-group col-md-6">
      <div class="">
        <h5>Referencia:</h5>
      </div>
      <input name="Direccion" class="form-control" placeholder="A una cuadra del parque central" type="text" [(ngModel)]="inscripcion.referencia" required="">
    </div>
  </div>
</div>
