<div class="container">
  <ng-container *ngIf="!loading; else elseTemplate">
    <div class="centrado">
      <h5  class="titulo">Formulario de Inscripción</h5>
    </div>
    <div class="row align-items-center">
      <div class="col-md-9">
        <app-datos-personales [inscripcion]="inscripcion" [logged]="logged"></app-datos-personales>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="card w-100 border border-success" >
            <img [src]="curso.urlImagen" class="card-img-top" style="max-height: 180px;" alt="...">
            <div class="card-body">
              <h5  class="titulo2">Requisitos</h5>
                <ul class="requisitos">
                  <li *ngFor="let req of curso.requisitos">{{req.descripcion | uppercase}}</li>
                </ul>
                <div class="row">
                  <div class="col"><b>Precio: </b></div>
                  <div class="col"><h5>USD<b>{{curso.precio}}</b></h5></div>
                </div>
                <div class="row">
                  <div class="d-flex justify-content-center">
                    <div class="col">
                      <input type="button" class="btn btn-lg btn-success" value="Enviar Solicitud" (click)="enviar()">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </ng-container>
<ng-template #elseTemplate>
  <div class="row content">
    <div class="col align-self-center">
      <div class="spinner-border text-success" style="width: 5rem; height: 5rem;"  role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
</div>
<!--p>BANECUADOR <br> CUENTA CORRIENTE #0400000697 <br> SINDICATO DE CHOFERES PROFESIONALES DE ESPEJO
</p-->
