<ng-container *ngIf="loaded; else elseTemplate">
  <div class="container emp-profile p-3 border border-success rounded-lg">
    <form method="post" >
        <h5>
          Complete la información necesaria y enviela para culminar su proceso de inscripción.
        </h5>
        <div class="row align-items-end">
            <div class="col-md-8">
                <div class="profile-head">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Requisitos</a>
                      </li>
                    </ul>
                </div>
            </div>
            <!--div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div-->
        </div>
        <div class="row" *ngIf="inscripcion">
          <div class="col-md-6 p-3" *ngFor="let doc of inscripcion.documentos">
            <label for="">{{doc.requisito.descripcion}}</label>
            <input type="file" class="form-control file" name="{{doc.requisito.id}}" accept="image/jpeg,image/png,application/pdf" (change)="handleFileInput($event.target.files, doc.requisito.id)" >
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <button type="button" class="btn btn-success btn-block" (click)="enviar()">
              Enviar
            </button>
          </div>
        </div>
    </form>
  </div>
</ng-container>
<ng-template #elseTemplate>

  <div class="container-loading">
    <div class="row">

  </div>
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>

    <h2 class="text-success">Cargando ...</h2>

  </div>
</ng-template>

