
<!--div class="agileits-w3layouts-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen></iframe>
</div-->
<!-- //contact -->

<div class="container">
  <ng-container *ngIf="!loading; else elseTemplate">
    <div class="centrado">
      <h5  class="titulo">Formulario de Inscripción</h5>
      <!--mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar-->

    </div>
    <div class="row align-items-center">
      <div class="col-md-9">
        <app-datos-personales [fecha]="fecha" [inscripcion]="inscripcion"></app-datos-personales>
        <div class="form-container" *ngIf="examen.examen.tipo.codigo == $any(2)">
          <div class="row">
            <div class="form-group col-md-6">
              <div class="">
                <h5>Fecha de Turno.</h5>
              </div>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="fechaT" [minDate]="fechaT" ngbDatepicker #dT="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (change)="turnosInfo()" (click)="dT.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div >
                <h5>Seleccione un horario libre:</h5>
                <p>En caso de no haber uno libre, debe seleccionar otra fecha.</p>
                <div class="horarios">
                  <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let h of horarios">
                      <p>
                        <ng-container *ngIf="h.libre; else horarioOcupado">
                          <input type="radio" name="horario" value="{{h.horario}}" [(ngModel)]="horario" >
                          {{h.horario}} &emsp;
                          <strong class="text-success" >Libre</strong>
                        </ng-container>
                        <ng-template #horarioOcupado>
                          {{h.horario}} &emsp;
                          <strong class="text-danger">Ocupado</strong>
                        </ng-template>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">

        <div class="row">
          <div class="card w-100 border border-success" >
            <img [src]="examen.urlImagen" class="card-img-top" style="max-height: 180px;" alt="...">
            <div class="card-body">
              <h5  class="titulo2">Requisitos</h5>
                <ul class="requisitos">
                  <li *ngFor="let req of examen.requisitos">{{req.descripcion | uppercase}}</li>
                </ul>
                <div class="row">
                  <div class="col"><b>Precio: </b></div>
                  <div class="col"><h5>USD<b>{{examen.precio}}</b></h5></div>
                </div>
                <div class="row">
                  <div class="d-flex justify-content-center">
                    <div class="col">
                      <input type="button" class="btn btn-lg btn-success" value="Enviar Solicitud" (click)="enviar()">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="row content">
      <div class="col align-self-center">
        <div class="spinner-border text-success" style="width: 5rem; height: 5rem;"  role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </ng-template>

