.container-fluid{
  box-sizing: border-box;
  margin-top: 15%;
  margin-bottom: 5%;
  text-align: center;
}
.container-fluid .alert{
  text-align: start;
}
.container-fluid .alert h3{
  font-size: 0.9rem !important;
}
.container-fluid .alert ul>li{
  font-size: 0.8rem !important;
}
div h5.titulo{
  font-size: 33.6pt;
  color: var(--green);
  text-decoration-line: underline;
  margin-bottom: 5%;
}
div.row{
  margin-bottom: 5%;
}
.card-img-top{
  height: 8rem !important;
}
h5.card-title{
  font-size: 0.9rem !important;
  height: 3rem !important;
  overflow: hidden;
}
p.card-text{
  font-size: 0.8rem !important;
  font-weight: bold;
  color: var(--primary);
}
.card-body .btn{
  font-size: 0.7rem !important;
}
