<div class="container">
  <div >
    <h5 class="titulo">Cursos</h5>
  </div>
  <div class="row">

    <div class="col-md-3" *ngFor="let curso of cursos">
      <div class="card">
        <img [src]="'https://imgur.com/3yvU8Ke'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{curso.curso.nombre}}</h5>
          <p class="card-text">
            Precio: <i class="fa fa-dollar"></i>{{curso.precio}}
          </p>
          <a  [routerLink]="['/inscripcion', curso.id]" class="btn btn-outline-success btn-block">Matricularme</a>
        </div>
      </div>
    </div>

  </div>
  <div >
    <h5 class="titulo">Exámenes</h5>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="../../assets/img/puntos.jpg" class="card-img-top" alt="recuperacion de puntos">
        <div class="card-body">
          <h5 class="card-title">Recuperación de puntos</h5>
          <p class="card-text"></p>
          <a [routerLink]="'/turnos'" class="btn btn-primary btn-block">Matricularme</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../../assets/img/4-pestaña-examenes.jpg" class="card-img-top" alt="exámenes">
        <div class="card-body">
          <h5 class="card-title">Exámenes</h5>
          <p class="card-text"></p>
          <a [routerLink]="'/turnos'" class="btn btn-primary btn-block">Matricularme</a>
        </div>
      </div>
    </div>
  </div>
</div>
