.container{
  box-sizing: border-box;
  margin-top: 5%;
  text-align: center;
}
div h5.titulo{
  font-size: 33.6pt;
  color: var(--green);
  text-decoration-line: underline;
  margin-bottom: 5%;
}
div.row{
  margin-bottom: 5%;
}
