div.container{
  margin-top: auto;
  padding: 30px;
}
div.container div{
  text-align: justify;
  text-justify: inter-word;
}
div.container .titulo1{
  font-size: 1.5em;
  color: var(--green);
  text-align: center;
}
