/* You can add global styles to this file, and also import other style files */
:root{
  --green: #5CB85C;
}
@font-face{
  font-family: 'Myriad';
  src: url(./assets/fonts/MyriadPro-Regular.otf);
}
@font-face{
  font-family: 'Nexa';
  src: url(./assets/fonts/Nexa-Bold.otf);
}
@font-face{
  font-family: 'Monserrat';
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}
@font-face{
  font-family: Helvetica-Blk;
  src: url(./assets/fonts/HelveticaNeueLTCom-BlkCn.ttf);
}
@font-face{
  font-family: Helvetica-Roman;
  src: url(./assets/fonts/HelveticaNeueLTCom-Roman.ttf);
}
*,
*::before,
*::after {
box-sizing: border-box;
}
html{
  width: 100%;
}
body{
  min-height: 500px;
}
div.header{
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Myriad';
}

/*  ########### SUBMENU ############ */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
/*  ################################ */
div.contenedor{
  width: 100%;
  max-width: 86.625rem;
  margin: 0 auto;
}
div.header div.row{
  background-color: #fff;
  height: 43px;
  margin: 0px;
  max-width: 100% !important;
}
div.info, div.social{
  text-align: right;
}
span.address{
  height: 100%;
  font-size: 0.7rem;/*9.64pt*/
  color: #9a999e;
  margin-right: 0.5rem;
}
span.contact{
  height: 100%;
  color: #9a999e;
  font-size: 0.8rem;
  /*11.54*/
}
div.social{
  height: 100%;
}
a.img-social{
  margin-right: 0;
  width: 2.25rem;
  height: 100%;
  margin-left: -0.5rem !important;
}

div.navigation{
  height: 7.08vw;
  background: url(./assets/img/1-background-menu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
div.logo{
  margin-top: -1.5vw;
  width: 10.17vw;
  margin-left: 2em;
  position: absolute;
  z-index: 11;
  top: 0px;
}
div.logo img{
  width: 100%;
}
.show{
  z-index: 15;
  background-color: var(--green);
  box-sizing: border-box;
  padding: 0.5em 0.25em;
}
nav.navbar{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

ul.navbar-nav{
  width: 100%;
}
ul.navbar-nav .nav-link{
  font-size: 1.39vw;
  color: #fff !important;
}
div.carousel-caption{
  top: 18% !important;
  left: 0% !important;
  width: 100%;
  text-align: center;
}
.img-slide{
  width: 100%;
  height: 634px;
}
div.carousel-caption{
  color: #fff !important;
  font-family: 'Nexa';
}
div.carousel-caption h5{
  font-size: 95.9pt;
}
div.carousel-caption p{
  font-size: 25.9pt;
}
div.ofertas{
  position: relative;
  text-align: center;
  top: -130px;
  width: 100%;
  max-height: 279px;
}
div.ofertas div.oferta-img{
  position: relative;
  display: inline-block;
  margin-left: 25px;
}
div.ofertas div.oferta-img img{
  width: 100%;
}
div.ofertas div.oferta-img img:hover{
  border: solid;
  border-width: 3px;
  border-color: var(--green);
}

div.servicios{
  background: url(./assets/img/1-background.jpg);
  height: 456px;
  text-align: center;
}
div.servicios .titulo{
  position: relative;
  top: 10%;
  font-size: 33.3pt;
  color: #fff;
}
div.servicios .servicios-items{
  position: relative;
  top: 20%;
}
div.servicios div.servicio-img{
  display: inline-block;
  margin-left: 2%;
  width: 18.25%;
}
div.servicios div.servicio-img:hover{
  border: solid;
  border-width: 3px;
  border-color: var(--green);
}
div.servicios div.servicio-img img{
  width: 100%;
}
div.noticias{
  text-align: center;
  position: relative;
  margin-top: 50px;
}
div.noticias .titulo{
  position: relative;
  font-weight: lighter;
  font-size: 30pt;
  color: #3434ff;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #f8cc00;
}
div.noticias div.items{
  margin-top: 50px;
}
div.divisor{
  margin-top: 50px;
  background: url(./assets/img/6-separador-entre-secciones.jpg);
  height: 37px;
}
div.formamos{
  text-align: center;
  margin-top: 50px;
}
div.formamos div{
  position: relative;
  display: inline-block
}
div.infraestructura{
  background: url(./assets/img/1-infraestructura.jpg);
  height: 468px;
  padding-top: 5%;
}
div.infraestructura .contenido{
  position: initial;
  top: 0px;
  margin-right: 120px;
  color: #fff;
}
div.infraestructura .titulo1{
  font-size: 25pt;
  text-align: end;
  line-height: 0pt;
}
div.infraestructura .titulo2{
  font-size: 35pt;
  text-align: end;
}
div.infraestructura .texto{
  margin-top: 30px;
  float: right;
  width: 25%;
  font-size: 11pt;
  text-align: center;
}
div.ant{
  width: 100%;
  height: 550px;
  display: block;
  margin: 0px;
}

div.ant .ant-img{
  width: 56%;
  height: 100%;
  position: relative;
  top: 0px;
  float: left;
}
div.ant .ant-img img{
  width: 100%;
  height: 100%;
}
div.ant .ant-iframe{
  width: 44%;
  height: 100%;
  top: 0px;
  box-sizing: border-box;
  border-top: solid;
  border-width: 20px;
  border-top-color: var(--green);
  float: right;
}
div.ant .ant-logo{
  text-align: center;
  margin-top: 40px;
}
div.ant .ant-logo img{
  width: 200px;
}
div.ant .ant-iframe .iframe-container{
  text-align: center;
}
div.ant .ant-iframe iframe{
  width: 84%;
  border: 0px;
  height: 320px;
  overflow-y: hidden;
}
div.redes{
  background: url(./assets/img/1-background-redes.jpg);
  height: 337px;
}
div.redes .emojis{
  margin-top: -100px;
  position: absolute;
}
div.redes .celular{
  margin-top: -120px;
  float: right;
}
div.redes .emojis img{
  width: 100%;
}
div.redes .contenido{
  position: absolute;
  color: #fff;
  margin-left: 150px;
  margin-top: 100px;
  font-family: 'Nexa';
}
div.redes .texto1{
  font-size: 40pt;
  line-height: 20pt;
}
div.redes .texto2{
  font-size: 65pt;

}
div.ubicanos .titulo, div.ubicanos .mapa,  div.ubicanos img{
  width: 100%;
}

div.ubicanos .mapa, div.ubicanos .mapa img{
  height: 350px;
}
div.news{
  margin-top: 50px;
}
div.news .news-img {
  float: left;
  width: 56%;
}
div.news .news-img img{
  width: 100%;
}
div.news .mensaje{
  text-align: justify;
  color: #9a999e;
  line-height: 14.25pt;
  font-size: 14.25pt;
  font-family: 'Helvetica-Roman';
}
div.news .news-form{
  float: right;
  width: 44%;
  text-align: justify;
  padding: 50px;
}
div.news .news-form .form{
  width: 100%;
  padding: 5%;
}
div.news .news-form .news-input {
  border: 1px solid #5CB85C;
  border-radius: 0.25rem;
  width: 60%;
}
div.news .news-form .news-button {
  margin-left: -10px;
  border: 1px solid #5CB85C;
  background-color: #5CB85C;
  border-radius: 0.25rem;
  color: #fff;
  width: 40%;
}
div.enlaces-corporativos{
  padding: 5%;
}
div.enlaces-corporativos .titulo, div.enlaces-corporativos img{
  width: 100%;
}
div.enlaces-corporativos div.enlaces{
  text-align: center;
}
div.enlaces-corporativos div.enlace{
  width: 15%;
  display: inline-block;
}
footer{
  background: url(./assets/img/1-footer-background.jpg);
  height: 329px;
  color: #fff;
  font-family: 'Nexa';

}
footer .container{
  padding-top: 20px;
}
footer a{
  color: #fff;
  font-size: 12pt;
  font-family: 'Myriad';
}
footer .col div{
  text-align: left;
}
footer .links-rapidos{
  width: 65%;
  float: left;
}
footer .links-rapidos .link{
  line-height: 28pt;
}
footer .titulo{
  font-size: 20pt;
}
footer .contacto{
  width: 35%;
  float: right;
}
footer .logo-marca{
  margin-top: -40px;
  margin-left: -40px;
}
footer .copy{
  font-family: 'Myriad';
  text-align: center;
}


.dropdown-menu a{
  color: #fff;
}
.nav-link{
  position: relative;
}
