/* You can add global styles to this file, and also import other style files */
:root{
  --green: #5CB85C;
}
@font-face{
  font-family: 'Myriad';
  src: url(./assets/fonts/MyriadPro-Regular.otf);
}
@font-face{
  font-family: 'Nexa';
  src: url(./assets/fonts/Nexa-Bold.otf);
}
@font-face{
  font-family: 'Monserrat';
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}
@font-face{
  font-family: Helvetica-Blk;
  src: url(./assets/fonts/HelveticaNeueLTCom-BlkCn.ttf);
}
@font-face{
  font-family: Helvetica-Roman;
  src: url(./assets/fonts/HelveticaNeueLTCom-Roman.ttf);
}
@font-face{
  font-family: fa-regular;
  src: url(./assets/fontawesome-free-5.15.1-web/webfonts/fa-regular-400.ttf);
}

*,
*::before,
*::after {
box-sizing: border-box;
}
html{
  width: 100%;
  min-height: 100vh;
}
body{
  min-height: 100vh;
}
.row{
  max-width: 100% !important;
  margin-left: 0px  !important;
  margin-right: 0px  !important;
}
.spinner-border{
  margin-top: 2em;
  margin-bottom: 2em;
  width: 10em;
  height: 10em;
}
.container-loading{
  text-align: center;
  margin-bottom: 5em;
}

div.contenedor{
  width: 100%;
  margin-top: 128px;
}


.datepicker.datepicker-dropdown{
  z-index: 1002;
}
.nav-item.dropdown.show{
  max-height: 100%;
  padding: 0;
}
.inner img{
  max-width: 100%;
}



/* LOADING */
body, html {
  height: 100%;
}
.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}





/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--warning);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green);
  box-shadow: inset 0 0 5px var(--warning);
}
